<div class="ChenarSignUp"  >
    <br>
    <br>
    <h1 class="title createAcc"> Add optional course </h1>
    <br>
    <br>
    <br>
    <div>

        <form [formGroup]="addDisciplineForm" class="inputLogin">

            <input type="text" id="name" name="nameSignUp" placeholder="Name of the course" formControlName = "name">
            <br>
            <br>

            <input type="text" id="credits" name="credits" placeholder="Number of credits" formControlName = "credits">
            <br>
            <br>
            <input type="text" id="curriculum" name="curriculum" placeholder="Curriculum description" formControlName = "curriculum">
            <br>
            <br>

            

        </form>

       

    </div>
    <br>
        <div class="parinteleButonului">
            <button type="submit"  class="btn-grad" (click)="addDiscipline()">
               Add 
            </button>
        </div>

        



</div>


