

 <div class="Bara">
   
     <i class="fa-solid fa-screen-users"></i>

</div> 

<div class="Chenar">
    <h4 class=" title2 " style="position: sticky; top:0;text-align: center; background-color: white;  font-family: 'Fira Sans', sans-serif; font-size: 24px; margin: 0%; padding-top: 20px;"><b> Mandatory disciplines </b></h4>
    <br>
    <div style="text-align: center" id="outer">
           
        <button class="btn-grad inner"   style="cursor: pointer; " (click)="getDisciplinesByYearOfStudy(1)" id="year1" [disabled]="this.yearOfStudy.length==0" >
            Year 1
        </button>
        &nbsp;
        <button class="btn-grad inner" style="cursor: pointer;" (click)="getDisciplinesByYearOfStudy(2)"  id="year2"  [disabled]="this.yearOfStudy.length<2" >
            Year 2
        </button>
        
    </div>


     <div class=" chenarButoane " style="padding-bottom: 0%;">

        <div style="font-family: 'Fira Sans', sans-serif; text-align: center;" > Year of study: {{yearOfStudy[currentId].year}} Specialization: {{yearOfStudy[currentId].specializationName}}</div>
    </div>

    <br>
    

    <div>
        <div style="position: relative; margin-left: 25px;
        margin-right: 25px;">
            <div style="max-height: 220px; overflow: auto;">
                <table>
                    <tr style="position: sticky; top:0; background-color: white;  font-family: 'Fira Sans', sans-serif; font-size: 15px;">
                        <th>Discipline</th>
                        <th>Curriculum</th>
                        <th>Optional</th>
                        

                    </tr>

                    <tbody id="disciplinesAndOptinals">

                        <tr *ngFor="let discipline of disciplines">
                            <td> {{discipline.name}}</td>
                            <td> {{discipline.curriculum[0].text}}</td>
                            <td> {{discipline.optional}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="parinteleButonului">
            <button class="btn-grad"  style="cursor: pointer; width: 230px" routerLink="/seeOptionalDisciplinesPage">
                See optional disciplines
            </button>
        </div>

      
        <br>
        <br>
        


    </div>

</div>  
