

 <div class="Bara">
   
     <i class="fa-solid fa-screen-users"></i>

</div> 

<div class="Chenar">
    <h4 class=" title2 "> Mandatory disciplines: </h4>
    <br>
     <div class=" chenarButoane " style="padding-bottom: 0%;">

        <div> Year of study: {{yearOfStudy[currentId].year}} Specialization {{yearOfStudy[currentId].specializationName}}</div>
    </div>

    <br>

    <div>
        <div style="position: relative">
            <div style="max-height: 220px; overflow: auto;">
                <table>
                    <tr style="position: sticky; top:0; background-color: white;">
                        <th>Discipline</th>
                        <th>Curriculum</th>
                        

                    </tr>

                    <tbody id="disciplinesAndOptinals">

                        <tr *ngFor="let discipline of mandatoryDiscipline">
                            <td> {{discipline.name}}</td>
                            <td> {{discipline.curriculum[0].text}}</td>
                           
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div style="text-align: center">
            <button routerLink="/seeOptionalDisciplinesPage">See optional disciplines</button>
        </div>
        <br>
        <br>
        


    </div>

</div>  
