<div class="Bara">
    <i class="fa-solid fa-screen-users"></i>
</div>
<div class="mainPage">





<div class="Chenar" >
    <h1 class="title title2 " > Welcome! </h1>
    <br>
    <br>
    <br>
    <br>
          <div class=" chenarButoane" style="text-align: center">
            <button class="butonStyle" routerLink="/addDiscipline">
               Propose optional course
            </button>
           
    
            <button class="butonStyle" routerLink="/addGrade" style="text-align: center">
              Add grade for student
             </button>
        
          </div>
    
        <br>

