<div class="Bara">
    <!-- <div class="navBarLogo">
        <img src="/assets/t2.png"  class="navBarPic">;
    </div> -->
    <!-- <i class="fa-solid fa-screen-users"></i> -->

</div>

<div class="Chenar">
    <br>
    <h4 class=" title2 " style="position: sticky; top:0;text-align: center; background-color: white;  font-family: 'Fira Sans', sans-serif; font-size: 50px; margin: 0%; padding-top: 20px;"><b>Statistics </b></h4>
    <br>
    <div class=" chenarButoane " style="padding-bottom: 0%;">
        <div style="text-align: center" id="outer">
         
            
        </div>
    
      
    </div>

    <br>
    


    <div>
        <div style="position: relative; margin-left: 25px; margin-right: 25px;">

                <h4 class=" title2 " style="position: sticky; top:0;text-align: center; background-color: white;  font-family: 'Fira Sans', sans-serif; font-size: 25px; margin: 0%; padding-top: 20px;"><b>Best result: </b></h4>
                <br>
                <br>
                <!-- <i class="fa-solid fa-trophy-star"> dnbchsvc</i> -->
                <h4 class=" title2 " style="position: sticky; top:0;text-align: center; background-color: #268aef; color:white  ; font-family: 'Fira Sans', sans-serif; font-size: 30px; margin: 0%; padding-top: 20px; padding-bottom:20px;"><b>{{bestResult.disciplineName}} grade: {{bestResult.averageGrade}}</b></h4>
                <br>
                
                 <br>
                <h4 class=" title2 " style="position: sticky; top:0;text-align: center; background-color: white;  font-family: 'Fira Sans', sans-serif; font-size: 25px; margin: 0%; padding-top: 20px;"><b>Worse result: </b></h4>
                <br>
                <br>
                <h4 class=" title2 " style="position: sticky; top:0;text-align: center; background-color: #268aef; color:white ; font-family: 'Fira Sans', sans-serif; font-size: 25px; margin: 0%; padding-top: 20px; padding-bottom:20px ;"><b>{{worseResult.disciplineName}} grade: {{worseResult.averageGrade}}</b></h4>
                <br>
           
        </div>
        <br>
        <br>
        
        

    </div> 

</div>


