<div class="Bara">
    <!-- <div class="navBarLogo">
        <img src="/assets/t2.png"  class="navBarPic">;
    </div> -->
    <!-- <i class="fa-solid fa-screen-users"></i> -->

</div>

<div class="Chenar">
    <h4 class=" title2 "> Enrol to a year (or at most 2 years) of study </h4>
    <br>
    <div class=" chenarButoane " style="padding-bottom: 0%;">

        <div>  Year of study: {{yearOfStudy[currentId].year}}</div>
    </div>

    <br>

    <div>
        <div style="position: relative">
            <div style="max-height: 220px; overflow: auto;">
                <table>
                    <tr style="position: sticky; top:0; background-color: white;">
                        <th>Discipline</th>
                        <th>Optional</th>
                        <th>Credits</th>
                        <th>Teacher Name</th>
                        
                    </tr>

                    <tbody id="disciplinesAndOptinals">

                        <tr *ngFor="let discipline of disciplines">
                            <td> {{discipline.name}}</td>
                            <td> {{discipline.optional}}</td>
                            <td> {{discipline.credits}}</td>
                            <td> {{discipline.teacherName}}</td>
                           

                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <br>
        <br>
        <div style="text-align: center">
            <button (click)="enrol()">Enrol</button>
        </div>
        <br>
        <div style="text-align: center">
            <button (click)="previousCurriculum()" id="prevButton" [disabled]="currentId===0">Previous</button>
            &nbsp;
            <button (click)="nextCurriculum()" id="nextButton"
                [disabled]="currentId===yearOfStudy.length-1">Next</button>
        </div>


    </div> 

</div>
