<div class="Bara">
    <i class="fa-solid fa-screen-users"></i>
</div>
<div class="mainPage">





<div class="Chenar" >
    <h1 class="title title2 " > Welcome! </h1>
    <br>
   
          <div class=" chenarButoane" style="text-align: center">
            <button class="butonStyle" routerLink="/addDiscipline">
               Propose optional course
            </button>
           
    
            <button class="butonStyle" routerLink="/addGrade" style="text-align: center">
              Add grade for student
             </button>

             <button class="butonStyle" routerLink="/viewAndAprove" style="text-align: center">
                View and approve the list of optional courses
               </button>
               <button class="butonStyle" routerLink="/addGrade" style="text-align: center">
                View results
               </button>
               <button class="butonStyle" routerLink="/addGrade" style="text-align: center">
                View the discipline given by teacher
               </button>
        
          </div>
    
        <br>

