<div class="Bara">
    <i class="fa-solid fa-screen-users"></i>
</div>
<div class="mainPage">





<div class="Chenar" >
    <h1 class="title title2 "> Welcome! </h1>
    <br>
          <div class=" chenarButoane" >
            <button class="butonStyle">
               Enrol
            </button>
           
    
            <button class="butonStyle">
               View  curriculum
             </button>
        

             <button class="butonStyle">
                Get assigned to an optional discipline
              </button>
        

              <button class="butonStyle" >
                Sign the contract of study
              </button>
              <br>

              <button class="butonStyle">
                View Grades
              </button>
          </div>
    
        <br>

