<div class="Bara">
    <div class="navBarLogo">
        <img src="/assets/t2.png"  class="navBarPic">;
    </div>
    <i class="fa-solid fa-screen-users"></i>

</div>


<div class="mainPage">

    
<div class="Chenar"  *ngIf="  !signUp  ">
    <h1 class="title"> Login </h1>
    <div>

        <form [formGroup]="loginForm" class="inputLogin">

            <label for="email" >Email:</label><br>
            <input type="email" id="email" name="email" placeholder="Type your email here... " formControlName="email">
            <br>
            <br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" placeholder="Type your password  here..." formControlName="password">

        </form>




        <br>
        <br>
        <form class="rememberMeCheckBox">
            <div style="float: left;">
                <input class="checkBoxInput" type="checkbox" id="rememberMe" name="rememberMe" value="rememberYes">
                <label for="rememberMe"> Remember me</label><br>
            </div>
            <label style=" margin-left: 10%"> Forgot password? </label>

        </form>

        <fieldset [disabled]=true class="studentOrTeacherCheckbox">
            
            <input type="radio" class="inputRadio" id="studentOption" name="student" value="Student" >
            <label for="studentOption"> I'm a student</label><br>
            <input type="radio" id="teacherOption" name="teacher" value="Teacher" class="inputRadio">
            <label for="teacherOption"> I'm a teacher</label>
        </fieldset>






        <br>
        <div class="parinteleButonului">
            <button class="btn-grad" (click)="redirectStudent()" style="cursor: pointer;">
                Log in
            </button>
        </div>
        <br>
        <div class="createAccount">
            Don't have an account? <a (click)="setSignUp(true)">Sign up!</a>
        </div>
    </div>

</div>

<div class="Chenar" *ngIf="  signUp  " >
    <h1 class="title createAcc"> Create account </h1>
    <div>

        <form class="inputLogin">

            <input type="text" id="nameSignUp" name="nameSignUp" placeholder="Name">
            <br>
            <br>

            <input type="text" id="surnameSignUp" name="surnameSignUp" placeholder="Surname">
            <br>
            <br>

            <input type="text" id="usernameSignUp" name="usernameSignUp" placeholder="Username">
            <br>
            <br>

            <input type="password" id="passwordFirst" name="passwordFirst" placeholder="Password">
            <br>
            <br>
            <input type="password" id="passwordSecond" name="passwordSecond" placeholder="Confirm Password">

        </form>

    </div>
    <br>
        <div class="parinteleButonului">
            <button class="btn-grad">
                Sign up
            </button>
        </div>

        



</div>
</div>